alembic
altair
asttokens
attrs
backcall
backports.zoneinfo
blinker
blis
Boruta
cachetools
catalogue
catboost
charset-normalizer
click
clifford
cloudpickle
colorama
colorlover
comm
contourpy
cufflinks
cycler
cymem
Cython
databricks-cli
debugpy
decorator
docker
entrypoints
executing
Flask
fonttools
funcy
future
gensim
gitdb
GitPython
graphviz
greenlet
h5py
htmlmin
idna
ImageHash
imbalanced-learn
importlib-metadata
importlib-resources
ipykernel
ipython
ipywidgets
itsdangerous
jedi
Jinja2
joblib
jsonschema
jupyter_client
jupyter_core
jupyterlab-widgets
kiwisolver
kmodes
lightgbm
llvmlite
Mako
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mlflow
mlxtend
mpl-toolkits.clifford
multimethod
murmurhash
nest-asyncio
networkx
nltk
numba
numexpr
numpy
oauthlib
packaging
pandas
pandas-profiling==3.6.6
parso
patsy
phik
pickleshare
Pillow
pkgutil_resolve_name
plac
platformdirs
plotly
preshed
prompt-toolkit
protobuf
psutil
pure-eval
pyarrow
pycaret
pydantic
pydeck
Pygments
PyJWT
pyLDAvis
Pympler
pynndescent
pyod
pyparsing
pyrsistent
python-dateutil
pytz
pytz-deprecation-shim
PyWavelets
PyYAML
pyzmq
querystring-parser
regex
requests
rich
scikit-learn==1.5.0
scikit-plot
scipy
seaborn
semver
shap
six
slicer
smart-open
smmap
spacy==3.7.5
sparse
SQLAlchemy
sqlparse
srsly
stack-data
statsmodels
streamlit==1.35.0
streamlit-pandas-profiling
tabulate
tangled-up-in-unicode
tenacity
textblob
thinc
threadpoolctl
toml
toolz
tornado
tqdm
traitlets
trimesh
typeguard
typing_extensions
tzdata
tzlocal
umap-learn
urllib3
validators
visions
waitress
wasabi
watchdog
wcwidth
websocket-client
Werkzeug
widgetsnbextension
wincertstore
wordcloud
ydata-profiling
yellowbrick
zipp
